body {
    text-align: center;
    color: #ffffff;

    background-image: linear-gradient(to right, #0C0846, #11BBCB, #86F3FE);
}

h1 {
    color: #FFFFFF;
    font-family: 'Merriweather', serif;

    border: solid, 2px;
    width: 300px;
    display: block;
    margin: auto;
    text-shadow: 2px 2px #00E5FF;
}

button {
    font-family: Merriweather, serif;
    font-size: 15px;
    color: #0C0846;
    background-image: linear-gradient(to right, white);
    border-color: white;
    border-radius: 10px;
}

img {
    height: 500px;
    border-radius: 10000px;
    align-content: center;
}

span {
    display: inline-block;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    right: 10px;
    cursor: pointer;
    color: black;
    cursor: pointer;
    position: sticky;
    top: 0px;
}


.links {

    color: black;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: cursive;
    display: inline;
    border-right: 1px solid #bbb;

}
.links:hover {

background-color: dodgerblue;
}

.active {
    background-color: dodgerblue;
}
.socialmedia p{
    display:inline;
}
html {
    scroll-behavior: smooth;
}

